:root {
    --max-width: 1240px;
    --glow-shadow: rgba(255, 255, 255, 0.05);
}

#app.light {
    --primary-text-color: #2c3e50;
    --secondary-text-color: #2c504b;
    --tertiary-text-color: #42b983;
    --tertiary-text-color: #b9427d;
    --tertiary-text-color: #2cac72;

    /* --main-bg-first-color: rgb(200, 187, 211); */
    --main-bg-first-color: #fff;
    /* --main-bg-first-color: rgb(231, 231, 231); */
    --main-bg-second-color: rgb(241, 239, 243);
    --glow-shadow: rgba(0, 0, 0, 0.05);
}

#app.dark {
    --primary-text-color: #fff;
    --secondary-text-color: rgb(233, 232, 230);
    --tertiary-text-color: #42b983;

    --main-bg-first-color: rgb(18, 18, 19);
    --main-bg-second-color: rgb(41, 41, 46);
    --glow-shadow: rgba(255, 255, 255, 0.05);
}

html, body, #app {
    /* background-color: #fff; */
    background-color: #2c3e50;
}

#app {
    /* This can be an easy way to achieve dark-theme, but not as effective as it could be */
    /* filter: invert(1) hue-rotate(180deg); */

    /* Gradient transitions are, at the moment being, unavailable,
    since they don't transpile well with CSS transitions at the moment being */
    /* background: linear-gradient(to top right, var(--main-bg-first-color), var(--main-bg-second-color)); */

    background: var(--main-bg-first-color);
    color: var(--primary-text-color);
    /* transition: color .2s ease-in-out; */
    transition: all .3s ease-out;
}

@media screen and (min-width:800px) {
    #app {
        height: 100vh;
    }
}